a{
    text-decoration: none;
    color: black;
}

li{
    margin: 0 30px;
    list-style: none;
}

ul{
    display: flex;
    padding: 10px 10px;
}

nav{
    background-color: skyblue;
}